# JM - Exploratory Data Analysis - Time Series

## General setup steps

### Imports

In [7]:
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler,OneHotEncoder

### Importing the dataset

In [12]:
full_data_df = pd.read_csv('../road_to_qatar_2022/data/fulldataset.csv')

In [3]:
full_data_df

,date,home_team,away_team,home_score,away_score,win_conditions,home_team_rank,home_team_points,home_team_previous_points,away_team_rank,away_team_points,away_team_previous_points
0,1930-07-13,France,Mexico,4.0,1.0,,4,1759.78,1764.85,13,1644.89,1649.57
1,1930-07-13,USA,Belgium,3.0,0.0,,16,1627.48,1635.01,2,1816.71,1821.92
2,1930-07-14,Yugoslavia,Brazil,2.0,1.0,,6,64.00,64.00,1,1841.30,1837.56
3,1930-07-14,Romania,Peru,3.0,1.0,,53,1434.68,1427.84,23,1561.01,1562.24
4,1930-07-15,Argentina,France,1.0,0.0,,3,1773.88,1770.65,4,1759.78,1764.85
...,...,...,...,...,...,...,...,...,...,...,...,...
1026,2022-02-05,Cameroon,Burkina Faso,3.0,3.0,Cameroon,43,1471.44,1484.95,54,1432.25,1425.64
1027,2022-02-06,Senegal,Egypt,0.0,0.0,Senegal,18,1584.38,1584.59,39,1486.44,1482.63
1028,2022-03-29,Senegal,Egypt,1.0,0.0,Senegal,18,1584.38,1584.59,39,1486.44,1482.63
1029,2022-06-13,Australia,Peru,0.0,0.0,Australia,38,1488.72,1483.73,23,1561.01,1562.24
1030,2022-06-14,Chile,Ghana,0.0,0.0,Ghana,29,1509.61,1514.86,61,1393.00,1393.47

In [15]:
full_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031 entries, 0 to 1030
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       1031 non-null   object
 1   home_team                  1031 non-null   object
 2   away_team                  1031 non-null   object
 3   home_score                 1031 non-null   float64
 4   away_score                 1031 non-null   float64
 5   win_conditions             1031 non-null   object
 6   home_team_rank             1031 non-null   int64
 7   home_team_points           1031 non-null   float64
 8   home_team_previous_points  1031 non-null   float64
 9   away_team_rank             1031 non-null   int64
 10  away_team_points           1031 non-null   float64
 11  away_team_previous_points  1031 non-null   float64
dtypes: float64(6), int64(2), object(4)
memory usage: 96.8+ KB

In [16]:
full_data_df['date'] = pd.to_datetime(full_data_df['date'])

In [17]:
full_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031 entries, 0 to 1030
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       1031 non-null   datetime64[ns]
 1   home_team                  1031 non-null   object
 2   away_team                  1031 non-null   object
 3   home_score                 1031 non-null   float64
 4   away_score                 1031 non-null   float64
 5   win_conditions             1031 non-null   object
 6   home_team_rank             1031 non-null   int64
 7   home_team_points           1031 non-null   float64
 8   home_team_previous_points  1031 non-null   float64
 9   away_team_rank             1031 non-null   int64
 10  away_team_points           1031 non-null   float64
 11  away_team_previous_points  1031 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(3)
memory usage: 96.8+ KB

### Clean-Up

In [20]:
teamsId = {}
index = 0

for idx, row in full_data_df.iterrows():
    teamName = row['home_team']
    if teamName not in teamsId.keys():
        teamsId[teamName] = index
        index += 1
        
    teamName = row['away_team']
    if teamName not in teamsId.keys():
        teamsId[teamName] = index
        index += 1

In [25]:
teamsId['France']

0

In [22]:
indexedFullData_df = full_data_df

In [23]:
indexedFullData_df['home_team'] = teamsId[indexedFullData_df['home_team']]
indexedFullData_df['away_team'] = teamsId[indexedFullData_df['away_team']]

TypeError: unhashable type: 'Series'